# App Configuration
NEXT_PUBLIC_ADMIN_EMAIL="danglenguyenhai2907@gmail.com"

# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY="v4yQbcGhrC40F7C6X"
NEXT_PUBLIC_EMAILJS_SERVICE_ID="service_izv0e87"
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID="template_3gvo0fm"

# Real SMTP Email Configuration (Nodemailer for Gmail / Outlook)
SMTP_USER="danglenguyenhai2907@gmail.com"
SMTP_PASS="YOUR_16_CHAR_GMAIL_APP_PASSWORD"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"

# Database Configuration (mysql for MySQL Workbench or mssql)
DB_TYPE="mysql"

# MySQL / MySQL Workbench Connection
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_USER="root"
MYSQL_PASSWORD=""
MYSQL_DATABASE="4youtechdb"

# Microsoft SQL Server Configuration (Backup)
MSSQL_SERVER="localhost"
MSSQL_DATABASE="4YouTechDB"
MSSQL_USER="sa"
MSSQL_PASSWORD="YOUR_SQL_PASSWORD"
MSSQL_PORT="1433"
MSSQL_ENCRYPT="false"
